

.galleryImgWrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    user-select:none;
    margin-right: 10px;
    margin-top: 80px;
    background-color: black;
  }
  .galleryImg{
      width: 700px;
    height: 500px;
    object-fit: contain;
   }
.carouselItem{
  margin-right: 10px;
}

@media (max-width: 765px) {
  .carouselItem{
    margin-right: 0;
   }
}
.calouselWrapper{
    height: 80vh;
}
.galleryButton{
  width: 200px;
  height: 30px;
  border: unset;
  font-size: 16px;
  margin: 0 auto;
}