.container{
    display: flex;
    gap: 40px;
    background-color: #ffffffb1;
    align-items: center;
    padding: 40px 0 60px;
    flex-direction: column;
    color: black;
    box-shadow: inset 1px 1px 25px 5px rgb(68, 68, 68);
}
.container h2{
    font-size: 40px;
    font-weight: 400;
    font-family: var(--open);
    color: #414141;
}
.wrapper{
    display: flex;
    gap: 30px;
    flex-flow: wrap;

}

@media (max-width: 1080px) {
    .wrapper{
        align-items:center;
        justify-content: center;
    }
}