.cartButton {
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.523);
    position: fixed;
    top: 160px;
    right: 20px;
    font-size: 50px;
    color: black;
    font-weight: 300;
    z-index: 999;
    cursor: pointer;
}
.cartInfo {
    display: flex;
    background-color: rgb(186, 46, 46);
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    font-size: 14px;
    bottom: -10px;
    right: 0;
}

.showCartBtn {
    display: flex;
}

.cartButton:hover {
    background-color: rgba(255, 255, 255, 0.908);
}

.bookLabel {
    display: flex;
    grid-area: "label";
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px 0;
    border-bottom: 1px solid var(--secondary);
    font-family: var(--ibm);
    color: rgba(50, 49, 49, 0.813);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    width: 100%;
  }
  .bookMain {
    display: flex;
    grid-area: "main";
    flex-direction: column;  
  }
  .bookDescription {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;   
  }
  .bookDescription .label {
    color: rgba(50, 49, 49, 0.813);
  }
  .bookInput {
    -webkit-appearance: none;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    outline: none;
    resize: none;
    border-radius: 5px;
    border: 2px solid var(--secondary);
  }
  .wrong{
    border: 2px solid rgba(247, 85, 85, 0.891);
    border-radius: 5px;
    outline: none;
    }
  .bookInput:focus {
    border-color: #30d00400;
    outline: 2px solid var(--green);
  }
  .inputsWrapper {
    grid-area: inputs-wrapper;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bookControl {
  display: flex;
  grid: "control";
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 32px 0;
  margin-bottom: 10px;
  border-top: 1px solid var(--secondary);
  }
  .bookControl p {
    font-size: 13px;
    font-weight: 300;
    color: var(--grey);
  }
  .order{
    width: 80%;
    margin: 15px auto 0;
    height: 40px;

  }

  .order_minSum:disabled{
      color: #ae2323 !important;
      font-weight: 600;
      border-color:  #ae2323 !important;
  }

  .order_minSum:hover{
      background-color: #ea0425 !important;
      color: white !important;
  }
  .bookControl button {
    border-radius: 5px;
    height: 45px;
    background: unset;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    transition: background 0.2s linear;
    cursor: pointer;
  }

  .buttonActive {
    border: unset;
    color: var(--white);
    background: var(--green);
  }

  .buttonActive:hover {
    border: unset;
    color: var(--white);
    background: #30d004;
  }
  
  
  
  
  .cartBackground{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.914);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    overflow-y: auto;
  }
  .cartCheckbox{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    
  }
  .cartCheckbox label{
    color: rgb(43, 42, 42)
  }
  .cartCloseBtn{
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  .cartResult{
    padding: 5px 0 10px;
  }
  .cartWrapper{
    display: flex;
    flex-direction: column;
    width: 520px;
    min-height: 550px;
    background-color: var(--white);
    margin: 40px auto 100px;
    padding: 20px 30px 4px;
    color: var(--black);
    justify-content: center;
  }

  .cartTitle{
    width: 100%;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--secondary);
    
  }

  .cartTitle h2{
    font-family: var(--open);
    font-weight: 500;
}
  
  @media (max-width: 460px) {
    .cartWrapper {
      padding: 20px 10px;
    }
  
  }
  
  
  @media (max-width: 550px) {
    .cartWrapper {
      width: 100%;
      margin-bottom: 0;
      
    }
    .cartCloseBtn{
      position: absolute;
      top: 55px;
      right: 5px;
      font-size: 30px;
      color: black;
    }
  
  }
  
  
  @media (max-width: 430px) {
    
    .bookInput {
        padding: 5px;
        height: 45px;
        font-size: 16px;
       
      }
      
      .bookControl {
        padding: 5px 10px;
        
      }
   
    
    }





@media (max-width: 650px) {
    .cartButton {
        height: 60px;
        width: 60px;
        font-size: 35px;
    }
    .cartInfo {
        bottom: -20px;
    }
}
