.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
    /* background-color: rgb(155 45 45); */
}
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 600px 1800px, 600px 1200px, 600px 600px;
    }
}
.show {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../public/assets/show/show2.png'),
        url('../../public/assets/show/show3.png');
    animation: snow 30s linear infinite;
    /* pointer-events: none; */
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.302) 0%,
            rgba(0, 0, 0, 0.507) 100%
        ),
        url('../../public/assets/bg/bgnew1.jpg');
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    position: relative;
}
