.container{
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 400px;
    border-radius:4px;
    position: relative;
    background: url('../../../../public/assets/news/easter.jpg') center/cover  no-repeat ;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s linear;
    box-shadow: 7px 5px 15px #adadad;
}



.content{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    width: 100%;
    max-height: 200px;
    min-height: 150px;

    transform: translateY(60%);
    transition: transform 0.2s linear;
    gap: 10px;
    background-color: #ffffff;
    color: black;
}

.container:hover .content{
    transform: translateY(0);
}

.title{
    font-weight: 400;
    max-height: 20%;
    min-height: 20%;

}
.description{
    font-weight: 300;
    max-height: 70px;
    overflow: hidden;
   
}
.btn{
    align-self: center;
    width: 200px;
    height: 25px;
    cursor: pointer;
    border:unset;
    background:unset;
    transition: background 0.2s linear;
}

.btn a{
    text-decoration: underline;
    color: black;
}

.btn:hover{
    background: #0000000d;

}

